body {
  background: peachpuff;
}
 * {
  outline: 1px solid red;
 }

 .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  font-size: 2rem;
  text-align: center;
 }

 .a {
  background: mediumspringgreen;
  width: 100%;
  flex-grow: 4;
  min-height: 10vh;
 }

 .group-1 {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
 }

 .b, .c, .d, .e, .f, .g {
  background: teal;
  width: 25%;
  height: 20vh;
  margin: 1.5rem;
 }

 .h {
  background: pink;
  flex-grow: 1;
  min-height: 10vh;
 }

 @media (min-width: 800px) {

  .container {
    flex-direction: row;
  }

  .b, .c, .d, .e, .f, .g {
    flex-wrap: wrap;
  }

  .h {
    min-height: 50vh;
  }
 }