body {
  background: papayawhip;
}

* {
  outline: 1px solid red;
}

.container {
  height: 100vh;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  background: red;
}

.a {
  background: whitesmoke;
  width: 100%;
}


.group {
  display: flex;
  flex-grow: 5;
  background: green;
  flex-wrap: wrap;
}

.b {
  width:  100%;
  min-height: 50vh;
}

.c, .d, .e {
  flex-grow: 2;
  min-height: 20vh;
}


.f {
  background: teal;
  flex-grow: 1;
}
