body {
  background: papayawhip;
}

.container {
  height: 100vh;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}

.a {
  background: forestgreen;
  width: 100%;
  margin-bottom: 0.5rem;
  min-height: 15vh;
}


.group {
  display: flex;
  flex-grow: 5;
  flex-wrap: wrap;
}

.b {
  width:  100%;
  min-height: 25vh;
  background: green;
}

.c, .d, .e {
  flex-grow: 1;
  min-height: 10vh;
  background: darkgoldenrod;
  margin: 1rem;
  margin-bottom: 0;
}


.f {
  background: teal;
  flex-grow: 3;
  margin-top: 1rem;
  margin-left: 0;
}

@media (min-width: 500px) {

  .container {
    flex-direction: row;
  }

  .a {
    min-height: 10%;
  }

  .f {
    margin-top: 0;
    margin-left: 0.5rem;
  }


}
